

body {
 margin: 0;

}


nav {

  font-size: 1.5em;

  display: flex;

  justify-content: space-between;

  margin-left: ;
      background-color: #f2f2f2;

}

ul,

li {

  display: inline;

  margin: 0;

  padding: 0;

}

nav ul {

  flex: 1;

  max-width: 50%;

  display: flex;

  justify-content: space-evenly;

}

nav > img {

  margin-right: 100px;

}

aside {

  margin-left: 30px;

}

.sidebar {

  margin-top: 56px;

  position: absolute;

  top: 0;

  left: 0;

  bottom: 0;

  width: 240px;

  background-color: #f2f2f2;

  padding: 20px;

  overflow-y: auto;

}

.resizer {

  width: 3px;

  top: 0;

  right: 0;

  cursor: col-resize;

  height: 100%;

  position: absolute;

  background-color: #a19f9f;

}

/* #resize-area {

  height: 100vh;

  width: 10px;

  position: absolute;

  top: 0;

  left: 260px;

} */

.menu {

  list-style: none;

  margin: 0;

  padding: 0;

}

.menu li {

  margin-bottom: 10px;

}

.menu a {

  display: block;

  padding: 10px;

  border-radius: 5px;

  text-decoration: none;

  color: #333;

}

.menu a:hover {

  background-color: #333;

  color: #fff;

}

nav img {

  width: 50px;

  justify-content: space-around;

}

nav img :hover {

  color: #2196f3;

  text-decoration: underline;

  background-color: #333;

}

.grid-container img {

  width: 170px;

}

 

.grid-container {

  display: grid;

  /* grid-template-columns: repeat(5,250px); */

  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  /* grid-auto-flow: column; */

  gap: 15px;

  padding: 10px;

  margin-left: 350px;

  margin-top: auto;

  margin-right: 90px;


}

.card1 .image1 {

  height: 40%;

  background-image: linear-gradient(

      rgba(83, 36, 26, 0.714),

      rgba(83, 36, 26, 0.714)

    ),

    url("img/bg.png");

  opacity: 0.5;
  box-shadow:   2px 1px #888888;
  

  /* background-image: linear-gradient( rgb(77,35,25)); */

}

.text-area1 {

  background-color: rgb(230, 219, 216);

  height: 60%;

}

h4 {

  margin: 0;

  padding-top: 2px;

  color: white;

}

.card2 .image1 {

  height: 40%;

  background-image: linear-gradient(

      rgba(237, 121, 14, 0.714),

      rgba(233, 114, 45, 0.67)

    ),

    url("img/bg.png");

  opacity: 0.5;

  /* background-image: linear-gradient( rgb(77,35,25)); */

}

p {

  margin-top: 0;

}

 

.grid-container img {

  max-width: 100%;

  height: auto;

}

.text-area2 {

  height: 60%;

  background-color: rgb(251 233 219);

}
.card3 .image1 {

    height: 40%;
  
    background-image: linear-gradient(
  
        rgba(114,170,201, 0.714),
  
        rgba(114,170,201, 0.714)
  
      ),
  
      url("img/bg.png");
  
    opacity: 0.5;
    
  
    /* background-image: linear-gradient( rgb(77,35,25)); */
  
  }
  
  .text-area3 {
    height: 60%;
  
    background-color: rgb(114,170,201);
  
  
    overflow: hidden;
  
  }
  .card4 .image1 {

    height: 40%;
  
    background-image: linear-gradient(
  
        rgba(44,66,133, 0.714),
  
        rgba(44,66,133, 0.714)
  
      ),
  
      url("img/bg.png");
  
    opacity: 0.5;
    
  
    /* background-image: linear-gradient( rgb(77,35,25)); */
  
  }
  .text-area4{
    height: 60%;
    background-color: rgb(44,66,133);
    overflow: hidden;

  }
  

 

.grid-container > div {

  border: 1px solid black;

  width: 160px;

  font-size: 30px;

  height: 262px;

  width: 170px;

}
/* .grid-container {

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  gap: 10px;

  padding: 10px;

  margin-left: 290px; /* Adjust this margin to match your sidebar width */

  /* margin-right: 10px; */ /* Add some margin to the right */

}

 

.movable-grid {

  margin-left: 290px; /* Adjust this margin to match your sidebar width */

}
  */